{% extends "_layouts/elementindex" %}

{% set title = "Tags"|t %}
{% set elementType = 'ether\\tagManager\\elements\\Tag' %}

{% do view.registerAssetBundle("ether\\tagManager\\web\\assets\\index\\TagIndexAsset") %}

{% block actionButton %}
	<div class="btngroup">
		{% set groups = craft.app.tags.allTagGroups %}

		<a
			href="{{ url("tags/#{groups[0].handle}/new") }}"
			class="btn submit add icon"
		>
			New Tag
		</a>

		<div class="btn submit menubtn"></div>
		<div class="menu">
			<ul>
				{% for group in groups %}
					<li>
						<a href="{{ url("tags/#{group.handle}/new") }}">
							{{ group.name }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}

{% if groupHandle is defined %}
	{% js %}
		window.defaultGroupHandle = '{{ groupHandle }}';
	{% endjs %}
{% endif %}